.tab-item {
  list-style-type: none;
}
.tab-button {
  border-style: none;
  color: #7b8794;
  font-family: 'Bree Serif';
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 4px;
  outline: none;
  cursor: pointer;
}
.active-tab-btn {
  border-bottom: 2px solid #fec653;
  color: #fec653;
}
